<h2>Контакты</h2>

<div class="row buttoncolor">
  <div class="col-lg-4 contactitem ">
    <img src="/images/phone2.png" width="40px" height="40px"> Телефон: +380990071990
  </div>
  <div class="col-lg-4 contactitem ">
    <img src="/images/email3.png" width="40px" height="40px"> E-mail: racoonbuy@gmail.com
  </div>
  <div class="col-lg-4 contactitem ">
    <img src="/images/telegram.png" width="40px" height="40px"> Telegram: @racoonbuy
  </div>
  <div class="col-lg-4 contactitem ">
    <img src="/images/viber.png" width="40px" height="40px"> Viber: +380990071990
  </div>
</div>