// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product {
  border: 2px solid black;
}

#aaa {
  background-color: #730E15;
}

#kii {
  margin-left: 10%;
  width: 80%;
  background-color: #B00100;
}

#glocki {
  margin-left: 10%;
  width: 80%;
  height: 20px;
  text-align: center;
  background-color: #D2691E;
}
