
<div class="formfield">
  <p>Колличество ядер: <%= @product.cpu.core_count %> </p>
  <p>Производительность: <%= @product.cpu.performance %> </p>
  <p>Поколение: <%= @product.cpu.generation.name %> </p>
  <p>Socket: <%= @product.cpu.cpusocket.name %> </p>
</div>


