
<p>Обьем памяти:<%= text_field_tag 'product[gpu_attributes][memory]' %></p>
<p>Колличество вентиляторов:<%= text_field_tag 'product[gpu_attributes][fan_quantity]' %></p>
<p>Производительность:<%= text_field_tag 'product[gpu_attributes][performance]' %></p>