
<div class="formfield">
  <p>Обьем памяти: <%= @product.gpu.memory %> </p>
  <p>Колличество вентиляторов: <%= @product.gpu.fan_quantity %> </p>
  <p>Производительность: <%= @product.gpu.performance %> </p>
</div>